<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moisture Data Form</title>
</head>
<body>
    <h1>Moisture Data Form</h1>
    <form action="/insert_moisture_data" method="post">
        <label for="plant_id">Plant ID:</label>
        <input type="text" id="plant_id" name="plant_id" required><br>

        <label for="moisture_level">Moisture Level:</label>
        <input type="text" id="moisture_level" name="moisture_level" required><br>

        <input type="submit" value="Insert Data">
    </form>
</body>
</html>
